
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}
.container {                          /*центральный контейнер*/
    width: 1140px;                    /*ширина*/
    margin: 0 auto;                   /*выравнивание по центру*/
    position:relative;                
}
.col-12 {
    width: 98%;
}
.col-9 {
    width: 73%;
}
.col-8 {
    width: 65%;
}
.col-7 {
    width: 57%;
}
.col-6 {
    width: 48%;
}
.col-5 {
    width: 40%;
}
.col-4 {
    width: 32%;
}
.col-3 {
    width: 24%;
}
.col-2 {
    width: 16%;
}
.col {
    width: 8%;
}

.bg-a {
    background-color: rgba(47,79,79,.7);
}

.bg-b {
    background-color: rgba(25,25,112,.7);
}

.bg-c {
    background-color: rgba(85,107,47,.7);
}

.bg-d {
    background-color: rgba(128,0,0,.7);
}

.bg-e {
    background-color: rgba(0,100,0,.7);
}

.bg-f {
    background-color: rgba(0,0,0,.7);
}

header {
    height:50px;   
}
         
    nav {
        position: fixed;
        width: 100%;
        height: 50px;
        background-color:#212121;
        z-index: 5;
    }
        .humburger {
            display: none;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            padding: 15px 70px;
            margin: 0;
            list-style: none;
            font-size:20px; 
            font-weight: 700;           
        }
            .menu-item {
                border-right:2px dotted #8b8888;
                padding-right:70px;
            }
                .menu-link {
                    text-decoration: none;    
                    color: #fff;                
            }
                .menu-link:hover {
                    border-color:#212121;
                    background: #212121;
                    color: #ffd800;
                    }
.heading-h2 {
    height: 50px;
    background: url('../img/bg_header.jpg') center center/cover no-repeat;    
}

h2 {
    color: #F0FFFF;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .menu {
        font-size: 18px;
    }
    .menu .menu-item {
        padding-right: 50px;
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu {
        font-size: 16px;
    }
    .menu .menu-item {
        padding-right: 25px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .menu {
        font-size: 14px;
        font-weight: normal;
    }
    .menu .menu-item {
        padding-right: 10px;
    }
    .col-11-768 {
        width: 90%;
    }    
    .col-10-768 {
        width: 82%;
    }
    .col-8-768 {
        width: 65%;
    }
    .col-2-768 {
        width: 16%;
    }
}
@media (max-width: 587px) {
    .nav {
        position: relative;
    }
    .col-8-587 {
        width: 65%;
    }
    .col-2-587 {
        width: 16%;
    }
    .container {
        width: 100%;
    }
        .menu {
            position: fixed;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 0;
            left: 0%;
            width: 70%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0,0.8);
        }
            .menu-item {
                border: none;
                margin: 10px 0;
            }
        .menu-active {
            left: 100%;            
        }
    .humburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height:12px;
    }
         .humburger span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 2px;
            color: #000;
            transition: 0.5s all;
        }
        .humburger-active span {
           margin-top: -2px;
        }
        .humburger-active span:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
        }
        .humburger-active span:nth-child(2) {
            display: none;
        }
        .humburger-active span:nth-child(3) {
            transform: translateY(1px) rotate(45deg);
        }

 
}
  

